body
{
  margin: 0;
  padding: 0;
}

/* ***Navbar*** */
.logo-web
{
  height: 7vmin;
  pointer-events: none;
  margin-right: 20px;
}
.bg-navbar
{
  background-color: rgb(136, 78, 160);
}
.nav-item
{
  font-size: 20px;
}
.active-menu-navbar
{
  font-weight: bold;
}