* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  font-family: "Bai Jamjuree", sans-serif;
  outline: unset;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

:focus:focus {
  outline: unset;
}
body {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  background-color: rgb(247, 234, 236);
  /* background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-beautiful-romantic-singles-festival-single-party-blind-date-activities-image_176952.jpg"); */
}

.modal-open{
  padding: 0 !important;
}
.App {
  text-align: center;
}

.container {
 padding: 0;
}


.find,
.lottoresult,
.game,
.sign-up,
.consulting {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}


.find {
  background-image: url("./images/img-0.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.lottoresult {
  background-image: url("./images/img-0.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.game {
  background-image: url("./images/img-0.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url("./images/img-0.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.consulting {
  background-image: url("./images/img-0.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.update-password-page {
  background-color: white;
  padding: 30px;
  box-shadow: 0px 7px 7px 7px rgb(226, 226, 226);
  border-radius: 5px;
}
.head-change-password {
  font-size: 24px;
  margin: 10px auto;
  text-align: center;
}

.button-change-password {
  width: 100%;
  background-color: rgb(130, 117, 221);
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  font-size: 16px;
}





.LotteryReports,
.Invoice,
.AdUser {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}



