.recommend {
  border-radius: 7px;
  border: 1px solid rgb(134, 113, 253);
  padding: 0;
  margin: 0;
  background: rgb(139, 120, 245);
}
.recommend-header {
    
    text-align: left;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 15px 25px;
    color: white;
    width: 100%;
}
.recommend-header > span {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}
  
.recommend-body {
    background-color: white;
    margin: 1px;
    padding: 20px 15px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }


  
  @media screen and (max-width: 1024px) {
    /* .recommend-header{
      width: 32%;
    } */
    .recommend-header span {
      
      font-size: 14px;
    }
  }
  @media screen and (max-width: 812px) {
    /* .recommend-header{
      width: 30%;
    } */
    .recommend-header span {
      font-size: 16px;
    }
  }


  @media screen and (max-width: 736px) {
    /* .recommend-header{
      padding: 12px ;
      width: 45%;
    } */
    .recommend-header span {
      font-size: 14px;
    }
    .recommend-body {
      grid-template-columns: repeat(2,1fr);
      padding: 6px;
    }
  }



  @media screen and (max-width: 720px) {
    /* .recommend-header{
     
      width: 45%;
    } */
    
    .recommend-header span {
      font-size: 14px;
    }
     
    .recommend-body {
      grid-template-columns: repeat(2,1fr);
      padding: 6px;
    }
  
  }

  @media screen and (max-width: 675px) {
    
    .reccommend-body {
      grid-template-columns: repeat(2,1fr);
    }
    
  }
   



  @media screen and (max-width: 425px) {
    
    .recommend-body {
      padding: 6px;
    }
    
  }
   


  @media screen and (max-width: 375px) {
    /* .recommend-header{
      padding: 10px ;
      width: 60%;
    } */
    .recommend-header span {
      font-size: 15px;
    }
    
    .recommend-body {
      grid-template-columns: repeat(2,1fr);
    }
    
   
    
  }
  
  @media screen and (max-width: 300px) {
    /* .recommend-header{
      padding: 10px ;
      width: 60%;
    } */
    .recommend-header span {
      font-size: 15px;
    }
    
    .recommend-body {
      grid-template-columns: repeat(1,1fr);
    }
    
   
    
  }
   