body {
    background-color: whitesmoke;
    /* background-image: url("../../images/img-0.jpg"); */
    /* background-image: url("../../images/light-violet.jpg"); */

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* background-image: url("https://marilynscott.com/wp-content/uploads/2016/05/White-christmas-light-background.png"); */
    
    /* background-attachment: fixed; */
}

.home{
    padding: 20px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* color: #fff; */
}
.carousel{
    padding: 0;
    margin: 20px 0px;
    border: rgba(202, 202, 202, 0.651) 1px solid;
    /* box-shadow: 7px 7px 25px rgb(231, 231, 231); */
    z-index: 1 !important;
} 
.img-carousel {
    width: 100%;
}

@media screen and (max-width: 992px) {
    .home {
        padding: 10px 0;
    }
}