/* body {
    background-color: whitesmoke;
    height: 100%;
} */
.profile-page {
    margin: 30px auto;
    background: white;
    padding-top: 20px;
    border: 1px solid rgba(240, 240, 240, 0.397);
    box-shadow: 0px 5px 5px 5px rgba(228, 228, 228, 0.397);
}
.bg-profile div h3 {
    text-align: center;
    margin: 10px;
}
.my-profile {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 30px;
}
.img-profile {
    display: grid;
    margin: 0;
    justify-content: center;
    padding: 20px;
}
.img-profile img {
    border: 3px solid rgb(59, 59, 59);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center ; 
    border: 1px solid;
    border-color:white;
    cursor: pointer;
}
.information-profile {
    margin: 0px 10px;
    padding: 5px 20px;
}
.profile-data{
    margin: 3px 0;
    padding: auto 5px;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    display: grid;
    grid-template-columns: 25% 75%;
    height: 60px;
    align-self: center;
} 
.profile-data label {
    text-align: right;
    margin: auto 10px;
}
.profile-data input {
    font-size: 18px;
    margin: auto 0px;
}
.profile-data span {
    align-self: center;
}
.group-btn-profile{
   margin: 0;
   padding: 0 !important;
}

.btn-edit-profile {
    background-color: rgb(130, 117, 221);
    color: white;
    padding: 9px 35px;
    margin: 10px 20px 10px 0;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px;
}
.btn-edit-profile:hover{
    background-color:rgb(142, 128, 231);
}
.btn-change-password{
    background-color: white;
    color: rgb(27, 27, 27);
    padding: 8px 25px;
    margin: 10px 20px 10px 0;
    border: none;
    font-size: 16px;
}
.btn-change-password:hover{
    text-decoration: underline mediumslateblue;
    cursor: pointer;
}

.btn-cancel-updateprofile {
    background-color: white;
    color: rgb(158, 146, 235);
    padding: 8px 25px;
    margin: 10px 20px 10px 0;
    border: 1px solid rgb(154, 141, 240);
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px;
}
.btn-cancel-updateprofile:hover {
    background-color:rgb(215, 209, 255);
}


.upload-img-profile {
    display: grid;
    justify-items: center;
}
.upload-img-profile input {
    justify-self: center;
	/* width: 0.1px;
	height: 0.1px; */
	/* opacity: 0;
	overflow: hidden;
	position: absolute; */
	/* z-index: -1; */
}
.upload-img-profile input::after {
    content: "" !important;
}


@media screen and (max-width: 1000px) {
    .profile-page {
        margin: 0 auto;
        padding: 5px auto;
    }
    .profile-page h3 {
        font-size: 26px;
    }
    .my-profile {
        /* grid-template-columns: 1fr; */
        margin: 10px;
    }
    .img-profile {
        padding: 5px;
    }
    .img-profile img {
        width: 200px;
        height: 200px;
    } 
    .information-profile {
        padding: 10px;
        margin: 10px;
    }
    .profile-data {
        font-size: 15px;
        grid-template-columns: 78px 1fr;
        height: 50px;
    }
    .profile-data label {
        text-align: right;
        margin: auto 2px;
    }
    .profile-data input {
        font-size: 15px;
        margin: auto 0px;
    }
    .btn-edit-profile {
        padding: 9px 25px;
        margin: 10px 0;
        font-size: 14px;
    }
    .btn-change-password{
        padding: 8px 20px;
        margin: 10px 20px 10px 0;
        font-size: 14px;
    }
    .btn-cancel-updateprofile {
        padding: 8px 18px;
        margin: 10px 0px 10px 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .my-profile {
        grid-template-columns: 1fr;
        margin: 10px;
    }
}