.signup {
  background-image: url("../images/img-0.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 100px 0;
}

.btn-signup {
  background-color: #961ff7;
  color: white;
  padding: 10px 50px;
  border: none;
  border-radius: 8px;
}

.btn-signup:hover {
  background-color: #b574eb;
  color: white;
  padding: 10px 50px;
  border: none;
  border-radius: 8px;
}

.card {
  background-color: #d29aff67;
  border: none;
  border-radius: 10px;
}
