.signin {
  background-image: url("../images/img-0.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-form {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 7px 7px 4px rgba(206, 206, 206, 0.397);
  width: 500px;
  margin: -2rem;
  /* border: 1.5px solid #ddd; */
  padding: 3rem;
  background: #ffffff;
}

.btn-signin {
  background-color: #961ff7;
  color: white;
  padding: 10px 50px;
  border: none;
  border-radius: 8px;
  width: 100%;
}

.btn-signin:hover {
  background-color: #b574eb;
  color: white;
  padding: 10px 50px;
  border: none;
  border-radius: 8px;
}

.btn-google {
  background-color: #fa3939;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  width: 100%;
}

.btn-google:hover {
  background-color: #fc5e5e;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
}

.btn-google p {
  font-size: small;
}

@media (max-width: 768px) {
  .main-form {
    width: 450px;
    margin: -3rem;
    /* border: 1.5px solid #ddd; */
    padding: 1.5rem;
  }

  .btn-signup {
    background-color: #961ff7;
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 8px;
    width: 100%;
    font-size: smaller;
  }

  .btn-signup:hover {
    background-color: #b574eb;
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 8px;
  }
}

@media (max-width: 450px) {
  .main-form {
    width: 300px;
    margin: -3rem;
    /* border: 1.5px solid #ddd; */
    padding: 1.5rem;
  }
}
