.shop{
    margin: 20px 0;
    padding: 30px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 7px 7px 4px rgba(206, 206, 206, 0.397);
}
.header-shop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    padding: 30px 20px;
    background-color: rgb(240, 185, 203);
    border-radius: 3px;
}
.header-shop-img {
    text-align: center;
}
.header-shop-img > img {
    width: 250px;
    height: 180px;
}
.header-shop-text {
    align-self: center;
    /* justify-self: end; */
    text-align: left;
}
.lottery-shop {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.section-search{
    display: grid;
    grid-template-columns: 1fr 420px;
    justify-items: right;
    align-items: center;
    margin: 5px 0;
    padding: 5px;
}
.box-search-lottery {
    width: 100%;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    /* border: 1px solid rgb(221, 221, 221); */
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0px 2px 2px 2px rgba(228, 228, 228, 0.397); */
}
.box-search-lottery > h4 {
    margin: 20px 0;
}

.box-search-lottery > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 10px;
}
/* #btn-search {
    align-self: flex-end;
} */

.form-search {
    font-weight: bold;
}
.box-search-lottery p {
    margin: 5px 0;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;

}
.input-search-lottery {
    display: inline;
    width: 32px;
    height: 45px;
    margin: 9px;
    padding: 2px;
    font-size: 24px;
    text-align: center;
    font-family: sans-serif;
}
.btn-search-lottery {
    display: grid;
    grid-template-columns: 45% 55%;
}
.btn-search-lottery button:nth-child(1){
    padding: 6px 20px;
    margin: 10px 7px;
    background-color: white;
    border: 1px solid mediumslateblue;
    border-radius: 5px;
    color: mediumslateblue;
    font-size: 16px;
}
.btn-search-lottery button:nth-child(2){
    padding: 6px 20px;
    margin: 10px 7px;
    background-color: mediumslateblue;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}
.btn-search-lottery button:nth-child(2):hover {
    background-color: rgb(139, 121, 241);
}
.info-shop {
    justify-self: left;
    padding: 25px;
    align-self: flex-start;
}
.info-shop ol li {
    font-size: 16px;
}

@media screen and (max-width:430px) {
    
    .shop {
        padding: 0px;
    }
    .lottery-shop {
        grid-template-columns: repeat(2,1fr);
    }
    .header-shop {
        grid-template-columns: 1fr;
        padding: 12px 20px;
    }
    .section-search {
        grid-template-columns: 1fr;
    }
    .header-shop-img img {
        width: 170px;
        height: 120px;
    }
    .header-shop-text {
        text-align: center;
    }
    .header-shop-text h1 {
        font-size: 26px;
    }
    .header-shop-text h5 {
        font-size: 18px;
    }
    .info-shop {
        padding: 5px 7px;
        font-size: 15px;
        color: rgb(36, 36, 36);
    }
    .info-shop ol {
        padding-left: 18px;
    }
    .section-search{
        justify-items: center;
        align-items: center;
        margin: 5px 0;
        padding: 8px;
    }
    .box-search-lottery {
        width: 100%;
        margin: 10px;
        padding: 15px;
        text-align: center;
    }
    .box-search-lottery p {
        margin: 5px 0;
        padding: 5px;
        font-size: 18px;
        font-weight: bold;
    
    }
    .input-search-lottery {
        display: inline;
        width: 30px;
        height: 40px;
        margin: 9px;
        padding: 1px;
        font-size: 26px;
        text-align: center;
        font-family: sans-serif;
    }
    .btn-search-lottery {
        display: grid;
        grid-template-columns: 45% 55%;
    }
    .btn-search-lottery button:nth-child(1){
        padding: 7px 20px;
        margin: 10px 7px;
        background-color: white;
        border: 1px solid mediumslateblue;
        border-radius: 5px;
        color: mediumslateblue;
        font-size: 14px;
    }
    .btn-search-lottery button:nth-child(2) {
        padding: 7px 20px;
        margin: 10px 7px;
        font-size: 14px;
    }
}

