.card-header {
  background-color: white;
}

.lotto-number {
  font-size: xx-large;
}

.btn-primary {
  background-color: rgb(111, 90, 233);
}

.btn-primary:hover {
  background-color: rgb(117, 102, 201);
}

.input-group {
  float: right;
}

section .itemQty {
  font-size: large;
  border-style: solid;
  border-width: thin;
  padding-top: 2px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
}

.btnAdd {
  border-style: solid;
  border-width: thin;
  padding-top: 3.5px;
  padding-bottom: 5px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: white;
  color: black;
}

.btnDel {
  border-style: solid;
  border-width: thin;
  padding-top: 3.5px;
  padding-bottom: 5px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: white;
  color: black;
}

.remove_button {
  float: right;
  padding: 4px 15px;
  background-color: none;
  color: rgb(133, 125, 125);
  border-style: none;
  border-radius: 5px;
}

.item-detail input {
  margin-top: 45px;
}

.couponBtn {
  border-style: solid;
  border-color: rgb(111, 90, 233);
  float: right;
  background-color: rgba(202, 197, 197, 0);
  color: rgb(111, 90, 233);
}
