.header-purchase-page {
    display: grid;
    grid-template-columns: repeat(2,1fr); 
}
.header-purchase-page {
    margin: 10px 0;
}
.card-header-purchase {
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 15px 35px;
    font-size: 16px;
}
.purchase-item {
    text-align: center;
    font-size: medium;
    font-weight: normal;
    color: gray;
    padding: 10px;
    border: 1px solid rgb(199, 199, 199);
    text-decoration: none;
    cursor: pointer;
}
a.purchase-item:hover {
    color: rebeccapurple;
    text-decoration: none;
}
.purchase-item-active {
    font-weight: bolder;
    border-bottom: 10px solid rgb(166, 96, 236);
    color: rgb(137, 76, 199);
    background-color: whitesmoke;
}
.summary-purchase-item {
    text-align: right;
    font-size: 20px;
    padding: 10px 20px 10px 0;
}
.text-info-perchase {
    font-size: 18px;
}
.number-lottery-list {
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}