.header-purchase-page {
    display: grid;
    grid-template-columns: repeat(2,1fr); 
}
.header-purchase-page {
    margin: 10px 0;
}
.card-header-purchase {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 15px 35px;
}
.purchase-item {
    text-align: center;
    font-size: medium;
    font-weight: normal;
    color: gray;
    padding: 10px;
    border: 1px solid rgb(199, 199, 199);
    text-decoration: none;
    cursor: pointer;
}
a.purchase-item:hover {
    color: rebeccapurple;
    text-decoration: none;
}
.purchase-item-active {
    font-weight: bolder;
    border-bottom: 10px solid rgb(160, 84, 236);
    color: rgb(121, 59, 184);
    background-color: rgb(248, 233, 248);
}