.signup-btn {
  width: 100%;
  padding: 10px 20px;
  border-radius: 37px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #fff#535353;
  cursor: pointer;
  background-color: white;
}

.signup-btn:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background: rgb(157, 81, 245);
  color: #fff;
  border-radius: 4px;
  border: 2px solid white;
  transition: all 0.3s ease-out;
}
/* .signup-link
{
  justify-self: flex-end;
} */

.btn-user-menu {
  text-align: right;
  /* justify-self: end; */
  position: relative;
  width: auto;
  padding: 8px 12px;
  margin-right: 0;
  border-radius: 7px;
  right: 0;
  outline: none;
  border: none;
  font-size: 18px;
  color:white ;
  cursor: pointer;
  background: rgb(124, 47, 211);
  border: 1px solid white;
  z-index: 11;
  text-decoration: none;
}
.btn-user-menu a {
  text-decoration: none;
  color: #535353;
}
.btn-user-menu:hover {
  transition: all 0.3s ease-out;
  background:rgb(152, 81, 233);
  border: 1px solid white;
}
.user-menu {
  position: relative;
  top: 15px;
  left: -30px;
  z-index: 11;
  background-color: white;
  box-shadow: 0px 1px 2px 1px rgba(221, 221, 221, 0.295);
  border: 1px solid rgb(231, 231, 231);
  border-radius: 3px;
}
.user-menu a {
  padding: 12px 20px;
  text-align: left;
  font-size: 16px;
}
.user-menu a:hover {
  background-color: rgb(228, 228, 228);
  transition: all 0.1s ease-out;
}
.img-profile-nav{
  border: 1px solid rgb(59, 59, 59);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center ; 
    border-color:white;
    cursor: pointer;
}
.btn-login-moblie {
  display: none;
}

@media screen and (max-width: 1010px) {
  /* .btn-user-menu {
    display: none;
  }
  .btn-login-moblie {
    display: block;
  } */
}